.track {
  margin-left: 20px;
  display: flex;
  align-items: center;
  color: white;
}

.track__info {
  margin-left: 20px;
}

.track__info > h1 {
  font-size: 14px;
}

.track__info > p { 
  font-size: 12px;
  color: gray;
}

.track__album {
  height: 40px;
  width: 40px;
}